# OS
.DS_Store

# Repository
.git

# Dependencies in local env
node_modules/

# Production build
.next/

# Configs folders
.husky/

# Configs files
.gitlab-ci.yml
prettier.config.js
## Note: Babel and Lingui config files are required for building.
# babel.config.js
# lingui.config.js

.gitignore
.prettierignore
.dockerignore

Dockerfile
docker-compose.yml

README.md
